.weNumbersComponent{
    background-color: #BB7E2B;
    display: flex;
    text-align: center;
    height: 25rem;
    align-items: center;
}

.weNumbersComponent > div {
    width: 100%; 
    color: #074B5B;
}
.number{
    display: block;
    font-size: 8rem;
    font-family: "Assistant", sans-serif;
}