.logInComponent {
    background-color: #BB7E2B;
    padding: 5rem;
}

.titleContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* .dialogTitle.active {
    text-decoration: underline;
} */
.enrollment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
    direction: rtl;
}
.WantToBeUpdatedTiteleInput {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.fullWidth {
    grid-column: span 2;
}
.SubmitNewPasswordButton{
    width: 20rem;
}