<p>פירטי לקוח</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>שם כלה</mat-label>
      <input matInput placeholder="" [(ngModel)]="bride.bridename">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>שם חתן</mat-label>
    <input matInput placeholder="" [(ngModel)]="bride.groomname">
    <mat-icon matSuffix>person_outline</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>טלפון חתן</mat-label>
    <input matInput placeholder="" [(ngModel)]="bride.groomphone">
    <mat-icon matSuffix>phone_enabled</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>טלפון כלה</mat-label>
    <input matInput placeholder="" [(ngModel)]="bride.bridephone">
    <mat-icon matSuffix>phone_enabled</mat-icon>
    <!-- <mat-hint>טלפון</mat-hint> -->
  </mat-form-field>
</p>


<button mat-icon-button color="primary" (click)="onCancelClick()"><mat-icon>close</mat-icon></button>
<button *ngIf="searchOrNew=='new'" mat-icon-button color="primary" (click)="onNewOrSearchClick()"><mat-icon>add</mat-icon></button>
<button *ngIf="searchOrNew=='search'" mat-icon-button color="primary" (click)="onNewOrSearchClick()"><mat-icon>search</mat-icon></button>


