.logInComponent {
    background-color: #BB7E2B;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    direction: rtl;
}

.titleContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.dialogTitle {
    color: #022F39;
    font-size: 2rem;
    line-height: 19.8px;
    cursor: pointer;
}

.dialogTitle.active {
    border-bottom: 2px solid #022F39;
}
.enrollment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
}

.connection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.WantToBeUpdatedTiteleInput {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.fullWidth {
    grid-column: span 2;
}
.SubmitNewPasswordButton{
    width: 20rem;
}
.resetPassword{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}