<div class="logInComponent">
<img class="logo" src="../../../assets/photoes/shalom babait logo.png" alt="לוגו">
<label class="WantToBeUpdatedTitele">כניסה לאזור האישי</label>
<!-- <input class="WantToBeUpdatedTiteleInput" type="text" name="name" [(ngModel)]="" placeholder="הקלד מספר זהות" required>
<button class="submitButton" type="button" [disabled]="emailForm.invalid">אישור</button> -->
<input class="WantToBeUpdatedTiteleInput" type="text" name="name"  placeholder="הקלד מספר זהות" required>
<input class="WantToBeUpdatedTiteleInput" type="text" name="name"  placeholder="הקלד סיסמה" required>
<button class="submitButton" type="button">אישור</button>
</div>