<div class="abautComponent">
  <div class="aaa">
  <label class="title">| ארגון<br><br> | שלום בבית</label><br><br>
  <ul class="LetterAboutShalomBabit">
    <li>ארגון שלום בבית הוקם לפני כעשור בנשיאות עידוד והכוונה של הרב שמחה כהן זצ"ל על ידי הרב אילן אלמליח שליט"א.</li>

    <li>הארגון שם לו למטרה להנגיש את ענייני שלום הבית בצורה מעשית ופרקטית על ידי העברת סדרות שיטת 'חמשת הצעדים' בכל רחבי הארץ, וכן הדרכת חתנים וייעוץ נישואין מאד מקצועי ויעיל גם במקרים מורכבים.</li>
    
    <li>וכל זאת בעלות נמוכה, כי הניסיון הוכיח שעלות גבוהה גורמת לאנשים להישאר עם הבעיות ולא לטפל בהם.</li>
  </ul>
  </div>
  <img src="../../../assets/photoes/rav shalom for abaut component.png" alt="לוגו">
  </div>
  
