
  img{
    width: 70rem;
    height: 70rem;
    border-radius: 4rem;
  }
  .abautComponent{
    display: flex;
    padding: 8rem;
    height: calc(100vh + 8rem); 
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Noto Sans Hebrew', sans-serif;
  }
 .aaa{
  width: 50rem;
  text-align: right;
 }
 .LetterAboutShalomBabit li::marker {
  content: none; /* מסתיר את הנקודה לפני כל פריט ברשימה */
}
.LetterAboutShalomBabit {
  font-family: 'Noto Sans Hebrew', sans-serif; 
}
