<div class="abautComponent">
<div class="aaa">
<label class="title">| ארגון<br><br> | שלום בבית</label>
<label class="LetterAboutShalomBabit">
    לורם איפסום דולור סיט אמט,<br>
    קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף,<br>
    ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק.<br>
    תצטנפל בלינדו למרקל אס לכימפו, דול,<br>
    צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש.<br>
    קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת.<br>
    ולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף.
</label>
</div>
<img src="../../../assets/photoes/rav shalom for abaut component.png" alt="לוגו">
</div>
