<footer>
  <nav> 
      <ul>
        <li><a href="#">קביעת יעוץ</a></li>
        <li><a href="#">אזור אישי</a></li>
        <li><a href="#">הדרכת חתנים</a></li>
        <li><a href="#">הרשמה לסדרה</a></li>
        <li><a href="#">רכישת ספרים</a></li>
        <li><a href="#">צור קשר</a></li>
      </ul>
    </nav>
    <nav> 
      <ul>
        <li><a href="#" id="toDonate">לתרומות </a></li>
        <li><a href="#">נגישות</a></li>
      </ul>
    </nav>
    <div>
      <h1></h1>
    </div>
    <!-- <img src="../../../assets/photoes/LOGO.png" alt="לוגו"> -->

    <div class="getUpdates">
     
    <div class="userInformation">
      <label>רוצים להיות מעודכנים?</label>
      <br>
      <input placeholder="שם">
      <br>
      <input placeholder="מייל">
      <br>
      
      <input placeholder="טלפון">
      <p class="sentence">{{ sentence }}</p>
      <div class="checkbox" (click)="toggleChecked()">{{ checked ? 'V' : '' }}</div>
    
      
      <button type="submit">שלח</button>
  </div>
</div>
</footer>
