.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    color: #BB7E2B;
    max-width: 40rem;
    /* height: 30rem; */
    text-align:center ;
    border-radius: 2rem;
  }
  
  button {
    margin-top: 10px;
  }
  .TheySayAboutUsComponent{
    padding: 5rem;
  }
  .circle{
    border-radius: 2rem;
    border: none;
  }
  .name{
    color: #022F39;
  }
  