.circles-container {
  display: flex;
  justify-content: center;
}

.circle {
  margin: 0 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #BB7E2B;
  color: #BB7E2B;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-active {
  background-color: #BB7E2B;
  border: 0.005rem solid white;

}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
  color: #BB7E2B;
  text-align: center;
  border-radius: 2rem;
  width: 45rem;
  height: 45rem;
  margin: 5vw;
}

.name {
  color: #022F39;
}
.TheySayAboutUsComponent{
  padding: 7rem;
}