<header>
  <div routerLink="" class="divLogo">
      <img class="logo" src="../../../assets/photoes/shalom babait logo.png" alt="לוגו">
  </div>
    <nav class="buttonLink">
      <ul>
        <li><button routerLink="" (click)="scrollToAbout()">אודות</button></li>
        <li><button>הדרכת חתנים</button></li>
        <li><button routerLink="SignUpForCourse">הרשמה לסדרה</button></li>
        <li><button>רכישת ספרים</button></li>
        <li><button routerLink="contact">צור קשר</button></li>
      </ul>
    </nav>    
      <button class="PrivateAreaButton" (click)="openDialog()">אזור אישי</button>
      <button class="consultationAppointmentButton">קביעת יעוץ</button>
  </header>
