header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#022F39;
  max-height: 8rem;
}

.logo{
  width: 15%;
  height:8rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 2.9rem; 
}

nav li {
  margin-right: 3rem; 
}

.PrivateAreaButton{
  background: none;
  border-radius: 5rem;
  position: fixed;
  left: 42rem; 
  top: 2rem; 
  width: 10%;
  height: 4rem;
  border: 0.2rem solid white;
  font-size: large;
}
.buttonLink{
  width: 40%;
}
.buttonLink button{
background: none;
border: none;
}