<header>
      <img class="logo" src="../../../assets/photoes/LOGO.png" alt="לוגו">
    <nav class="buttonLink">
      <ul>
        <li><button (click)="scrollToTop()">אודות</button></li>
        <li><button>הדרכת חתנים</button></li>
        <li><button routerLink="SignUpForCourse">הרשמה לסדרה</button></li>
        <li><button>רכישת ספרים</button></li>
        <li><button routerLink="contact">צור קשר</button></li>
      </ul>
    </nav>    
    <div class="buttons">
      <button class="PrivateAreaButton">אזור אישי</button>
      <button class="consultationAppointmentButton">קביעת יעוץ</button>
    </div>
  </header>
