<div class="button-grid">

    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        <!-- כשצריך שהמילים יעלמו בעת נגיעה עם העכבר -->
        <div class="button-overlay">Button 1</div>
    </button>
    <!-- כשלא צריך שהמילים יעלמו -->
    <button class="square-button" style="background: url('../../../assets/photoes/Article.jpg')center/cover;">
        Button 2
        <div class="button-overlay"></div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        Button 3
        <div class="button-overlay"></div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        Button 4
        <div class="button-overlay"></div>
    </button>

</div>