.donate{
    background-color: #BB7E2B;
   border: none;
   border-radius: 0rem 5.3rem 0rem 0rem;
   height: 8rem;
   width: 17%;
   position: absolute;
   left: 0rem; 
   bottom: 0rem; 
   font-weight: 700;
   font-size: 2rem;
}