
<button class="additionButton" title="הוספת כלה" (click)="addNewBride()">הוספת כלה <mat-icon>group_add</mat-icon> </button>
<div id="searchId">
  <input type="text" [(ngModel)]="searchPhone" placeholder="חיפוש לפי טלפון" (input)="onSearchPhone()">
  <input type="text" [(ngModel)]="searchName" placeholder="חיפוש לפי שם" (input)="onSearchName()">
</div>
<router-outlet></router-outlet>
<h1 *ngIf="brides.length===0">לא נמצאו רשומות</h1>
<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>תאריך הוספה</th>
          <th>שם כלה</th>
          <th>שם חתן</th>
          <th>טלפון כלה</th>
          <th>טלפון חתן</th>
          <th>הערות</th>
          <th>           </th>
        </tr>
      </thead>
    <tbody>         
      <tr class="rowOnTable" *ngFor="let bride of brides; let i = index" (mouseenter)="setHoveredRow(i)" (mouseleave)="clearHoveredRow()">       
        <td>{{bride.brideinsertdate |date : 'dd/MM/yyyy'}}</td> 
        <td>{{bride.bridename}}</td> 
        <td>{{bride.groomname}}</td>
        <td>{{bride.bridephone}}</td>
        <td>{{bride.groomphone}}</td>
        <td>{{bride.descriptionBride}}</td>
        <td  class="hovered-row-buttons"  *ngIf="hoveredRow === i">
           <button mat-icon-button title="רשימת תכשיטים"(click)="onJewlery(bride)"><mat-icon>diamond</mat-icon></button>
           <button mat-icon-button title="פרטים נוספים" (click)="onMoreDetails(bride)"><mat-icon>manage_accounts</mat-icon></button>
           <button mat-icon-button title="מחיקת כלה" (click)="onDelete(bride.brideid)"><mat-icon>delete_sweep</mat-icon></button>
       </td>
      </tr> 
    </tbody>
  </table>
</div>
