.demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .additionButton {
    width: 100%;
    margin-left: 10vw;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #F4EBD0;
    color: black;
    /* border: 2px solid black;     */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  tr:hover .hovered-row-buttons {
    opacity: 1;
  }
  .hovered-row-buttons {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute; /* שנה את ה-position ל-absolute */
  }
#searchId{
  display: flex; 
  justify-content: center;
  gap: 10px;
}
#searchId input{
  margin-top: 2rem ;
  text-align: center;
}

td,th{
  text-align: center;
}
.table{
  text-align: center;
}
.table th {
  font-size: 2rem;
}
.table td {
  font-size: 1.7rem; 
}