<!-- <div class="patient-list-container">
    <div class="patient-list">
        <div class="title-section">
            <span style="font-size: 28px;"><b>רשימת מטופלים</b></span>
            <div class="divider">
                <button class="icon-button" mat-icon-button>
                    <mat-icon style="color: #BB7E2B;">add</mat-icon>
                </button>
                <button class="find-patient-button" mat-button>
                    &nbsp;
                    חיפוש לפי שם
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
        <div class="patient-card" *ngFor="let patient of patients">
            <div class="patient-info">
                <span class="patient-name">{{ patient.firstName }} {{ patient.lastName }}</span>
            </div>
        </div>
    </div>
</div> -->
<div class="patient-list-container">
    <div class="patient-list">
      <div class="title-section">
        <span style="font-size: 28px;"><b>רשימת מטופלים</b></span>
        <div class="divider">
          <button class="icon-button" mat-icon-button>
            <mat-icon style="color: #BB7E2B;">add</mat-icon>
          </button>
          <button class="find-patient-button" mat-button>
            חיפוש לפי שם
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
  
      <div class="patient-card" *ngFor="let patient of patients" (click)="viewPatientDetails(patient)">
        <div class="patient-info">
          <span class="patient-name">{{ patient.firstName }} {{ patient.lastName }}</span>
        </div>
      </div>
    </div>
  </div>
  