<div class="patient-list-container">
    <div class="patient-list">
      <div class="title-section">
        <span style="font-size: 28px;"><b>רשימת מטופלים</b></span>
        <div class="divider">
          <button 
            class="icon-button" 
            mat-icon-button
            (click)="openAddPatientDialog()"
            matTooltip="הוסף מטופל חדש"
            matTooltipPosition="below"
            [disabled]="isLoading"
            aria-label="הוסף מטופל חדש">
            <mat-icon style="color: #BB7E2B;">add</mat-icon>
          </button>
          <button class="find-patient-button" mat-button (click)="openSearchDialog()" matTooltip="חיפוש מטופל"
          [disabled]="isLoading">
          חיפוש לפי שם
          <mat-icon>search</mat-icon>
        </button>
        </div>
      </div>
  
      <div class="patient-card" *ngFor="let patient of patients" (click)="viewPatientDetails(patient)">
        <div class="patient-info">
          <span class="patient-name">{{ patient.firstName }} {{ patient.lastName }}</span>
        </div>
      </div>
    </div>
  </div>

