header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#022F39;
  max-height: 8rem;
}
.divLogo{
  width: 15%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  height:8rem;
  background-color: white;
}
.buttonLink ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 2.9rem; 
}
.PrivateAreaButton{
  background: none;
  border-radius: 5rem;
  position: fixed;
  left: 20%; 
  width: 10%;
  height: 4rem;
  border: 0.2rem solid white;
  font-size: large;
  font-weight: 700;
  margin-left: 1rem; /* Add margin to separate it from the button list */
}

.buttonLink {
  flex: 1 1 auto;
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  width: 50%;
}
.buttonLink button{
background: none;
border: none;
font-size: larger;
}
.consultationAppointmentButton{
  background-color: #BB7E2B;
  border: none;
  border-radius: 0rem 5.3rem 0rem 0rem;
  height: 8rem;
  width: 17%;
  font-weight: 700;
  font-size: 2rem;
}