.advertisingComponent{
    height: calc(100vh); 
    width: 100%;
    background-image: url("../../../assets/photoes/ravShalom.JPG");
    background-size: cover;
}
.title{
    /* text-align: right; */
    font-size: 10rem;
    opacity:1;
    font-family:'Noto Sans Hebrew' ,sans-serif;
}
.aaaa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 75, 91, 0.6);
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: 0.9375rem;
}