<div class="advertisingComponent" style="background: url('../../../assets/photoes/ravShalom.JPG')center/cover;">
     <div class="aaaa"><label class="title">|ללמוד<br><br><br>|בשביל<br><br><br>|להצליח.</label></div>
</div>

 <!-- <div class="advertisingComponent" style="background: url('../../../assets/photoes/ravShalom.JPG') center/cover;">
     <div class="aaaa" style="text-align: right; position: relative;">
         <label class="title">
             <span class="line"></span>
             ללמוד<br><br><br>
             <span class="line"></span>
             בשביל<br><br><br>
             <span class="line"></span>
             להצליח.
         </label>
     </div>
 </div>
 
 <style>
     .aaaa {
         padding-right: 20px;
     }
     .line {
         display: inline-block;
         width: 10px;
         height: 2px;
         background-color: white;
         border-radius: 1px;
         vertical-align: middle;
         margin-left: 5px;
     }
     .title {
         display: inline-block;
     }
 </style>
  -->