
.insertJewlry{
  width: 70rem;
  margin-left: 20%;
}
.container
{
  width: 55rem;
}
.container {
  width: 55rem;
  background-color:#F4EBD0;
  border: 1rem solid white;
}
.table-hover>tbody>tr:hover {
  background-color: white;
}
td,th{
  text-align: center;
}
.table{
  text-align: center;
}
