
  .contact {
    background-color: #BB7E2B;
    position: fixed;
    left: 0rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    border-radius: 0rem 2rem 2rem 0rem;
    height: 15rem;
    width: 4.9rem;
    align-items: center;
    border: 2px solid #022F39;
  }
  
  ul {
    background-color: #BB7E2B;
    border-radius: 0rem 3rem 3rem 0rem;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
  }
  
  li {
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
  }
  
  a {
    align-items: center;
  }
  
  .contact-info {
    position: absolute;
    padding: 1rem;
    left: 100%;
    border-radius: 0rem 10rem 10rem 0rem;
    background-color: #BB7E2B;
    transform: translateY(-80%);
    transition: max-height 0.5s ease;
    border: 0.2rem solid #022F39;
    border-left: none;    
  }
  
  .icon-phone:hover+.phone-info,
  .icon-email:hover+.email-info,
  .icon-whatsapp:hover+.whatsapp-info {
    display: block;
  }
  /* .fa-whatsapp {
    font-size: 2.7rem;
  } */