#confirmDialogComponent{
    background-color: #F4EBD0;
    padding: 2rem;
    border: 1rem solid white;
}
#confirmDialogComponent {
    justify-content: center;
  }
  
  #confirmDialogComponent button {
    margin: 0 5px; /* כדי להוסיף מרווח בין הכפתורים */
  }
  .yesOrNoButton{
    background-color: white;
    border-radius: 0.3rem;
    border: none;
    width: 6rem;
    height: 3rem;
    font-weight: bold;
    font-size: medium;
  }