#brideMoreDetComponent{
  background-color: #F4EBD0;
  padding: 2rem;
  border: 1rem solid white;
}
mat-form-field{
  width: 25rem;
}
.debt{
  width: 8rem;
}
.dialog-content {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}
