#debt{
    /* border-top: 0.05rem solid black; */
    background-color: whitesmoke;
    border-right: 0.05rem solid black;
}

#bride-jewlery{
   border-right: 0.05rem solid black;

    /* margin: 0.3rem; */
    background-color: whitesmoke;
}
