<div class="detilsContactComponent">
    <div class="detilsContact">
    <label>נשמח לשמוע מכם</label>
    <div class="lineContact">
        <input class="WantToBeUpdatedTiteleInput" type="text" placeholder="שם מלא">
        <input class="WantToBeUpdatedTiteleInput" type="tel" placeholder="טלפון">
    </div>
    <div class="lineContact">
        <input style="width: 80rem;" class="WantToBeUpdatedTiteleInput" type="email" placeholder='דוא"ל'>
    </div>
    <textarea class="WantToBeUpdatedTiteleInput" style="max-width: 80rem; min-width: 80rem; min-height: 9rem; border-radius: 2rem;" placeholder="הודעה"></textarea>
    <div class="lineContact">
        <button style="width: 80rem;" class="submitButton" (click)="sendMessage()">שלח</button>
    </div>
    </div>
</div>

