.weNumbersComponent{
    background-color: #BB7E2B;
    display: flex;
    text-align: center;
    height: 25rem;
    align-items: center;
    padding: 0 8% 0 8%;
    color: #074B5B;
    font-size: 2rem;
}
.weNumbersComponent > div {
    width: 100%; 
}
.number{
    line-height: 10rem;
    font-size: 8rem;
    font-family: "Assistant", sans-serif;
}