<!-- <div class="ListOfActivitiesComponent">
<label class="title">|המומלצים שלנו  </label>
<div class="cardsList">
<div *ngFor="let activity of activitiesList" class="card">
  <a href="javascript:void(0)" class="card-link" (click)="openDialog()">
    <img [src]="activity.urlImage" class="card-img-top" alt="Activity Image">
    <h5 class="card-title">{{ activity.titleActivities }}</h5>
  </a>
</div>
</div>
</div> -->
<div class="ListOfActivitiesComponent">
  <label class="title">|המומלצים שלנו  </label>
  <div class="cardsList">
    <div *ngFor="let activity of activitiesList" class="card">
      <a href="javascript:void(0)" class="card-link" (click)="openDialog(activity)">
        <img [src]="activity.urlImage" class="card-img-top" alt="Activity Image">
        <h5 class="card-title">{{ activity.titleActivities }}</h5>
      </a>
    </div>
  </div>
</div>
