.card{
    width: 32rem;
    height: 35rem;
    background-color: #074B5B;
    display: inline-block;
    margin: 2rem;
    border-radius: 2rem;
}
.card-img-top {
    width: 32rem;
    height: 28rem;
    border-radius: 2rem 2rem 0 0;
}
.cardsList{
    padding: 5rem;
    text-align: center;
}
.ListOfActivitiesComponent{
    padding: 5rem;
}
.card-title{
    text-align: center;
    font-size: 1.5rem;
    height: 4rem;
    padding: 1.5rem;
}