<div class="linkContentComponent">
    <button class="square-button" style="background: url('../../../assets/photoes/IMG_2044.JPG')center/cover;">
        סדרות 
        <div class="button-overlay">סדרות</div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/love essay chapter one.jpg')center/cover;">
        מאמרים
        <div class="button-overlay">מאמרים</div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/ravShalom.JPG')center/cover;">
        כנסים
        <div class="button-overlay">כנסים</div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/ravShalom.JPG')center/cover;">
        שיעורים לצפיה
        <div class="button-overlay">שיעורים לצפיה</div>
    </button>
</div>
