<div class="linkContentComponent">
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        <!-- כשצריך שהמילים יעלמו בעת נגיעה עם העכבר -->
        <div class="button-overlay">
           סדרות
        </div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        מאמרים
        <div class="button-overlay"></div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        כנסים
        <div class="button-overlay"></div>
    </button>
    <button class="square-button" style="background: url('../../../assets/photoes/rav shalom.png')center/cover;">
        שיעורים לצפיה
        <div class="button-overlay"></div>
    </button>
</div>
