.linkContentComponent{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: calc(100vh); 
    width: 100%;
    align-items: center;
    padding: 15%;
    font-size: 2.5rem;
}

.square-button {
    position: relative;
    height: 28rem;
    width: 48%;
    color: rgb(255, 255, 255);
    transition: transform 0.3s;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    bottom: 5rem;
    right: 3rem;
    border: none;

}

.square-button:hover {
    transform: scale(1.01, 1.01);
}

.button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 75, 91, 0.6);
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 1;
    transition: opacity 0.3s;
    border-radius: 0.9375rem;
}

.square-button:hover .button-overlay {
    opacity: 0;
}
