<div class="ConsultationMeetingComponent">
<label class="dialogTitle">קביעת יעוץ</label>
<input class="WantToBeUpdatedTiteleInput" type="date" id="date">
<select id="marital-status" name="marital-status" class="WantToBeUpdatedTiteleInput selectInput" required>
    <option value="" disabled selected>בחר יועץ</option>
    <option value="single">רווק</option>
    <option value="married">נשוי</option>
    <option value="divorced">גרוש</option>
 </select>
 <select id="marital-status" name="marital-status" class="WantToBeUpdatedTiteleInput selectInput" required>
    <option value="" disabled selected>בחר סוג ייעוץ</option>
    <option value="single">רווק</option>
    <option value="married">נשוי</option>
    <option value="divorced">גרוש</option>
 </select>
</div>