
html, body {
  background-color:#022F39;
  color: white;
   direction: rtl;
   font-family: "Noto Sans Hebrew", sans-serif;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.title {
  color: #BB7E2B;
  font-size: 5rem; 
  font-family: "Noto Sans Hebrew", sans-serif; 
}
.consultationAppointmentButton{
   background-color: #BB7E2B;
   border: none;
   border-radius: 0rem 5.3rem 0rem 0rem;
   height: 8rem;
   width: 32rem;
   font-size: large
 }
 a {
  color: white;
  font-size: large;
}

a:hover {
  text-decoration: none;
  color: white;
  font-size: large;
}
