<h2>הוספת תכשיט חדש</h2>
<div id="addNewJewelry">
<form >
  <mat-form-field appearance="fill">
    <mat-label>בחר תכשיט</mat-label>
    <mat-select [(ngModel)]="newJewelry.jewelryname" name="selectJewelry">
      <mat-option value="-1"> </mat-option>
      <mat-option *ngFor="let jewelryName of jewelryNames" [value]="jewelryName">
        {{ jewelryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  <mat-form-field appearance="fill">
    <mat-label>תקציב</mat-label>
    <input type="number"  required matInput [(ngModel)]="newJewelry.budget" name="budget" placeholder="שדה חובה">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>הערות</mat-label>
    <input required matInput [(ngModel)]="newJewelry.descriptionBridejewelry" name="budget">
  </mat-form-field>
  <label><input type="checkbox" [(ngModel)]="newJewelry.ischoose" name="ischoose"> האם בחרה</label>
</form>
  
<button mat-icon-button title="הוספה" (click)="onCreate()"><mat-icon>add</mat-icon></button>
<button mat-icon-button title="ביטול" (click)="onCancel()"><mat-icon>close</mat-icon></button>
</div>