:host {
    display: table-caption;
    flex-direction: column;
    align-items: flex-start;
  }
#addNewJewelry{
  background-color: #F4EBD0;
  padding: 2rem;
  border: 1rem solid white;
}
h2{
  font-weight: bold;
  text-align: center;
  margin-bottom:0;
}